.container .hero-wrapper {
    height: 640px;
    width: 100%;
    z-index: 1;
    position: relative;

    .hero-background-wrapper {
        width: inherit;
        height: inherit;

        img {
            height: 640px;
            width: 100%;
        }
    }

    .hero-texts-wrapper {
        position: absolute;
        bottom: 108px;
        display: flex;
        flex-direction: column;
        margin-left: 180px;
        width: inherit;
        z-index: 2;

        .hero-kicker-wrapper, .hero-title-wrapper {
            text-shadow: 0 1px #747d81;
            p,h1,h2,h3,h4,h5,h6 {
                color: white!important;
            }
        }

        .hero-kicker-wrapper {
            margin-left: -5px;
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: .12em;
        }

        .hero-title-wrapper {
            font-size: 6.25rem;
            font-weight: 600;
        }
    }
}