.container .text-wrapper.standalone {
    width: 100%;
    padding: 0 385px;
    box-sizing: border-box;
    text-align: center;
    margin: 80px 0 ;

    p {
        font-family: "__quicksand_46a9db", "__quicksand_Fallback_46a9db" , sans-serif;
        font-size: 1.5rem;
        color: rgb(7 41 57 / 1);
    }
}