.text-wrapper p {
    color: rgb(7 41 57 / 1);
}

.container .text-wrapper.standalone {
    width: 100%;
    padding: 0 385px;
    box-sizing: border-box;
    text-align: center;
    margin: 80px 0 ;

    p {
        font-size: 1.5rem;
    }
}
