<template data-sly-template.main="${@ text, author, authorRole}">
    <div class="quote-wrapper">
        <blockquote>
            <sly data-sly-use.template="/apps/ati4/htl-templates/icons-templates.html"
                 data-sly-call="${template.main @ iconName='quote-start'}"></sly>
            <sly data-sly-use.template="/apps/ati4/components/text/v1/text/templates/text-templates.html"
                 data-sly-call="${template.main @ text=text, standalone=false}"></sly>
            <div class="quote-cite">
                <sly data-sly-use.template="/apps/ati4/htl-templates/icons-templates.html"
                     data-sly-call="${template.main @ iconName='quote-end'}"></sly>
                <span class="author">${author}</span>
                <span class="author-role">${authorRole}</span>
            </div>
        </blockquote>
    </div>
</template>