.navigation-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: rgb(7, 41, 57);
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: white;
    box-shadow: 0 0 16px rgb(0 0 0 / 18%);
    height: 150px;


    .navigation-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 75px;
        width: 100%;
        max-width: 1536px;

        .navigation-logo {
            width: 136px;
            height: 34px;
            flex-grow: 1;
            display: flex;
            justify-content: center;

            img {
                width: 136px;
            }
        }

        .navigation-icons {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }
    }

    ul.navigation-menu {
        display: flex;
        flex-direction: row;
        gap: 30px;
        height: 75px;

        li {
            font-weight: 500;
            font-size: 1rem;

            .navigation-entry-content {
                display: none;
            }

            &:hover,.active {
                font-weight: 700;
                text-decoration: underline rgb(255, 204, 0);
                text-underline-offset: 5px;
                text-decoration-thickness: 5px;

                .navigation-entry-content {
                    margin-top: 5px;
                    position: fixed;
                    background-color: white;
                    width: 100%;
                    left: 0;
                    display: flex;
                    padding: 80px 150px;
                    gap: 80px;

                    .title-wrapper > h4 {
                        font-size: 2rem;
                    }

                    ul.navigation-entry-content-column {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        border-left: 1px solid #d1d1d1;
                        li {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}