.container .push-image-edito-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
    flex-direction: row;
    margin: 80px 0;

    &.left {
        flex-direction: row-reverse;
        .image-wrapper {
            &:before {
                content: '';
                height: 370px;
                width: 23px;
                background-color: rgb(0 69 94/1);
                position: absolute;
            }
        }
    }

    &.right {
        .image-wrapper {
            &:after {
                content: '';
                height: 370px;
                width: 23px;
                background-color: rgb(0 69 94/1);
                position: absolute;
            }
        }
    }

    .push-image-edito-image-wrapper {
        max-width: 600px;
        display: flex;
        flex-direction: row;
        .push-image-edito-image {
            max-width: inherit;
            .image-wrapper {
                max-width: inherit;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                height: 536px;
                &:before {
                    content: '';
                    height: 370px;
                    width: 23px;
                    background-color: rgb(0 69 94/1);
                    position: absolute;
                }
                img {
                    height: 100%;
                    object-fit: cover;
                    margin-left: 23px;
                    max-width: inherit;
                    width: calc(100% - 23px);
                }
            }
        }
    }

    .push-image-edito-column {
        display: flex;
        flex-direction: column;
        max-width: 515px;
        justify-content: center;

        .title-wrapper {
            font-size: 2.375rem;
            font-weight: 700;
        }

        .text-wrapper {
            margin-top: 30px;

            p {
                font-size: 1rem;
                line-height: 30px;
            }

            p:not(:first-child) {
                margin-top: 16px;
            }
        }

        .button-wrapper {
            margin-top: 50px;
            width: fit-content;
        }


        .accordion-wrapper {
            cursor: pointer;

            .push-image-edito-title-wrapper {
                display: flex;
                align-items: center;
                gap: 20px;
                .title-wrapper {
                    flex-grow: 1;
                    h3 {
                        margin: 20px 0;
                        font-size: 1.625rem;
                    }
                }
            }

            .push-image-edito-text-wrapper {
                max-height: 0;
                transition: max-height 0.3s ease;
                overflow: hidden;
                border-bottom: 1px solid #c2c2c2;
                .text-wrapper {
                    margin: 0;
                }
            }

            &.active {
                cursor: unset;
                .push-image-edito-text-wrapper {
                    max-height: 500px;
                }
            }
        }
    }
}