.button-wrapper {
    button {
        background: none;
        border: 1px solid rgb(7, 41, 57);
        padding: 14px 24px;
        font-size: 1rem;
        font-family: "__quicksand_46a9db", "__quicksand_Fallback_46a9db" , sans-serif;
        color: rgb(7 41 57 / 1);
        cursor: pointer;

        &.icon {
            display: flex;
            gap: 16px;
        }
    }
}