@font-face {
    font-family: "__quicksand_46a9db";
    src: url("https://naos.com/_next/static/media/85fe5f606b51bc85.p.woff2");
}

@font-face {
    font-family: "__quicksand_Fallback_46a9db";
    src: url("https://naos.com/_next/static/media/a04c7a3da157a4b7.p.woff2");
}