body {
    margin: 0;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100svw;
    font-family: "__quicksand_46a9db", "__quicksand_Fallback_46a9db" , sans-serif;

    > div:not(.navigation) {
        max-width: 1640px;
    }

    .root.container {
        display: flex;
        margin-top: 150px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    ul {
        list-style: none;
    }

    a {
        color: unset;
        text-decoration: none;
    }
}

h1,h2,h3,h4,h5 {
    font-size: unset;
    margin: 0;
    font-weight: unset;
}