<template data-sly-template.main="${@ direction, imageReference, alt='', title, text, ctaText, ctaLink, ctaIcon}">
    <div class="push-image-edito-wrapper ${direction}">
        <div class="push-image-edito-image-wrapper">
            <div class="push-image-edito-image"
                  data-sly-use.template="/apps/ati4/components/image/v1/image/templates/image-templates.html"
                  data-sly-call="${template.main @ imageReference=imageReference}"></div>
        </div>
        <div class="push-image-edito-column">
            <div class="push-image-edito-title-wrapper"
                 data-sly-use.template="/apps/ati4/components/title/v1/title/templates/title-templates.html"
                 data-sly-call="${template.main @ text=title, level=level || 'h1'}"></div>
            <div class="push-image-edito-text-wrapper"
                 data-sly-use.template="/apps/ati4/components/text/v1/text/templates/text-templates.html"
                 data-sly-call="${template.main @ text=text, standalone=false}"></div>
            <sly data-sly-test="${ctaText}">
                <div class="push-image-edito-button-wrapper"
                     data-sly-use.template="/apps/ati4/components/button/v1/button/templates/button-templates.html"
                     data-sly-call="${template.main @ ctaText=ctaText, ctaLink=ctaLink, ctaIcon=ctaIcon}"></div>
            </sly>
        </div>
    </div>
</template>